* {
     margin: 0;
     padding: 0;
}

#container {
     padding: 20px;
     border: 1px solid rgba(78, 78, 78, 0.192);
     border-radius: 10px;
     margin-bottom: 10px;
}

.banner {
     padding: 0;
     border: none;
}

.resposta {
     width: 300px;
}

.form-control {
     text-align: center;
}

.page-link {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 